<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
  Click to toggle popover
</button>

<!--
<div class="days-description">
  <md-grid-list cols="7" gutterSize="10" rowHeight="25">
    <md-grid-tile class="days-description-content" *ngFor="let dayDesc of daysDesc" [style.background]="">
      {{dayDesc.text}}
    </md-grid-tile>
  </md-grid-list>
</div>
-->
<div class="card-deck">
  <div *ngFor="let materia of materias" class="card col-12 col-md-12 col-sm-12">
    <img class="card-img-top" src="{{materia.imgUrl}}" alt="Card image cap">
    <div class="card-body" [style.backgroundColor]="'#' + materia.color">
      <h4 class="card-title">{{materia.name}}</h4>
      <p class="card-text">{{materia.description}}</p>
      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
  </div>
</div>
