@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
    margin: 0; 
    background-color: white;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.toolbar {
    margin-bottom: 10px;
    position: fixed;
    z-index: 1000;
}

.days-description {
    padding: 100px 10px 5px 10px;
}

.days-description-content {
    font-size: 15px;
    font-weight: bold;
    color: #D3D3D3;
}

.week-container {
    padding: 0px 10px 0px 10px;
}

.days-container {
    background-color: white;
    text-align: center;
}

.subject-subtitle {
    margin-bottom: 10px !important;
}

.subject-container {
    padding: 10px 30px 10px 30px !important;
    margin: 10px 0px 10px 0px; 
}

.subject-container-angular {
    @extend .subject-container;
    background-color: #F17C7C;
    color: white;
}

.subject-container-wildfly {
    @extend .subject-container;
    background-color: #99C7A0;
    color: white;
}

.subject-container-java {
    @extend .subject-container;
    background-color: #9F7ACA;
    color: white;
}